.loadingClass{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background-color: #eeeeee;
    opacity: 0.85;
}

.loadingClass p{
    font-size: large;
    top: 50%;
    position: absolute;
    left: 45%;
}