<div class="compiler-widget">
    <div class="sec-widget" data-widget="a9bb8e030b1b205accaaecda6c85174e"></div>
    <script>
        SEC.ready(function() {
            var afterSendSubmission = function(data) {
                $('#result').html('')
                    .append("> submissionId: " + data.submissionId + "<br><br>");
            };
            var SECWidget = SEC.widget("example-widget");
            SECWidget.events.subscribe('afterSendSubmission', afterSendSubmission);
        });
    </script>
    <input id="result" [(ngModel)]="resultText"/>
    {{resultText}}
</div>