.app-ace-editor {
    border: 2px solid #f8f9fa;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    width: 100%;
    height: calc(100vh - 30px);
}

.wrapper{
    display: flex;
    width: 100vw;
}

.wrapper > div{
    padding: 0 2em;
}

.task{
    width: 40%;
}

.answer{
    width: 20%;
    display: flex;
    flex-direction: column;
}

.answer label{
    margin-top: 2em;
}

.answer button{
    margin-top: 1em;
}

.task p, .answer, .answer input{
    font-size: 18px;
}