<div>
    <div class="welcomeMessage">
        <h1>Эксперимент</h1>
        <p>Спасибо, что согласились участвовать в эксперименте!
            <br />
            <br />
            Вам будет необходимо:
            <br />
            1. Заполнить форму ниже
            <br />
            2. Пройти этап калибровки
            <br />
            3. Ответить на вопросы
            <br />
            4. Отправить на адрес tanya.tom106@gmail.com полученное видео
            <br />
            <br />
            После нажатия "Начать эксперимент", необходимо будет разрешить браузеру запись с видеокамеры.
            <br />
            Запись видео производится для анализа траектории взгляда. Функциональность обычной веб-камеры не позволяет точно учитывать изменение положения глаз во время движения головы &ndash; поэтому важно не двигать головой после начала калибровки вплоть до окончания эксперимента.
            <br />
            <br />
            Эксперимент состоит из 2-х тестирований. Проходить второе следует после 30-минутного перерыва или позже.
            <br />
            <br />
            Всего в первом тестировании будет 15 вопросов, во втором &ndash; 11. В каждом из тестов в последнем вопросе будет предложено оценить Вашу уверенность в данных ответах.
            <br />
            <br />
            После окончания тестирования будет скачено видео, снятое во время эксперимента (в зависимости от настроек браузера может появиться окно с выбором пути для сохранения файла). Это видео необходимо будет отправить на вышеуказанный адрес, в теме письма указать "Участие в эксперименте". Скачанное видео может не воспроизводиться в стандартных проигрователях, это нормально.
            <br />
            В конце эксперимента Вы увидете результат тестирования.
        </p>
        <br />
        <br />
        <p>Пожалуйста, введите свои данные и выберите номер теста.</p>
    </div>
    
    <div class="formContainer">
        <div class="welcomeForm">
            <h4>Анкета</h4>
            <p>
                <label>Возраст</label>
                <span>
                    <input type="number" [(ngModel)]="participantAge">
                </span>               
            </p>

            <p>
                <label>Пол</label>
                <span>
                    <input type="radio" value="male" name="gender" [(ngModel)]="participantGender">
                    Мужской
                </span>
                <span>
                    <input type="radio" value="female" name="gender" [(ngModel)]="participantGender">
                    Женский
                </span>
            </p>

            <p>
                <label>Номер теста</label>
                <span>
                    <input type="radio" value="1" name="experiment" [(ngModel)]="experimentNumber" checked>
                    1
                </span>

                <span>
                    <input type="radio" value="2" name="experiment" [(ngModel)]="experimentNumber">
                    2
                </span>
            </p>

            <button type="submit"
                [disabled]="participantAge == null || participantAge < 0 || participantGender == null || experimentNumber < 1 || experimentNumber > 2"
                (click)="onSubmit()">
                Начать эксперимент
            </button>            
        </div>

    </div>
</div>